[buildout]
extends =
    http://dist.plone.org/release/5.0.6/versions.cfg
develop = .
parts = test
index = https://pypi.python.org/simple

[versions]
plone.outputfilters =

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.outputfilters [test]
defaults = ['-s', 'plone.outputfilters']
